[submodule "Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-6"]
	path = Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-6
	url = https://github.com/VincentFrangi/astroplant-extension-board-mk0-6.git
[submodule "Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-5"]
	path = Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-5
	url = https://github.com/VincentFrangi/astroplant-extension-board-mk0-5.git
[submodule "Electronics/PCB/AstroPlant_LED/astroplant-led-mk0-2"]
	path = Electronics/PCB/AstroPlant_LED/astroplant-led-mk0-2
	url = https://github.com/VincentFrangi/astroplant-led-mk0-2.git
