
Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-7/Astroplant_AL-backups/*
Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-5/Astroplant_AL-backups/*
Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-6-1/Astroplant_VFR-backups/*

Electronics/PCB/AstroPlant_ExtensionBoard/astroplant-extension-board-mk0-7/Library/kicad-symbols-master/*
